body {
    background-color: rgba(19, 31, 36, 1);
    font: 500 17px / 20px sans-serif;
}

.caixa-central{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.login-fechar{
    cursor: pointer;
    position: absolute;
    top: 30px;
    z-index: 10;
    left: 30px;
    right: auto;
}

.login-criarconta{
    position: absolute;
    right: 30px;
    top: 30px;
}

.butao-criarconta{
    color: rgba(73, 192, 248, 1);
    background: none;
    border: solid transparent;
    border-radius: 16px;
    border-color: rgba(55, 70, 79, 1);
    border-width: 2px 2px 4px;
    height: 50px;
    padding: 0 16px;
    cursor: pointer;
    font-weight: 600;
    font-family: din-round, sans-serif;
}

.caixa-criarConta{
    user-select: inherit;
}

.tela-EntrarLogin{
    font-size: 26px;
    text-align: center;
    margin: 10px 0 15px;
    color: white;
    font-family: din-round, sans-serif;
    align-self: center;
}

.tela-EntrarLogin{
    margin: 10px 0 15px;
}

.login-geral{
    display: flex;
    flex-direction: column;
    width: 375px;
    height: 100vh;
    align-items: center;
    margin-top: 40%;
}

.entrada-usuario{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    text-align: center;
    width: 100%;
    margin-top: 30px;
    align-items: center;
}



.email-usuario, .senha-usuario{
    display: flex;
    border: 2px solid rgb(55, 70, 79);
    border-radius: 12px;
    overflow: hidden;
    box-sizing: inherit;
    width: 70%;
    flex-direction: column;
}

.caixa-email, .caixa-senha{
    background: rgba(32, 47, 54, 1);
    box-sizing: border-box;
    color: white;;
    border-radius: 12px;
}

.senha-usuario{
    width: 100%;
    margin-top: 5px;

}


.caixa-senha{
    padding: 8px 14px;
    border: 12px;
    font-weight: 700;
}

.caixa-email{
    padding:8px 14px;
    border: none;
    font-weight: 700;

}

.Senha-caixa{
    display: inline-flex;
    flex-direction: column;
    margin-top: 8px;
    margin: 8px 0px;
    gap: 4px;
    display: flex;
    border: 2px 2px;
}

.esqueceu-senha{
    color:rgba(82, 101, 109, 1);
    align-self: center;
    font: 700 15px / 28px din-round, sans-serif;
    letter-spacing: .8px;
    margin-left: -2px;
    margin-right: 14px;
    text-decoration: none;
    text-transform: uppercase;
}

.butao-entrar{
    display: flex;
    background: none;
    border-color: transparent;
    border-radius: 16px 12px;
    border-style: solid;
    box-sizing: border-box;
    border-width: 0 0 4px;
    color: rgb(19, 31, 36);
    outline: none;
    margin-top: 20px;
    width: 80%;
    padding: 0 16px;
    background-color: rgba(73, 192, 248, 1);
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    font: 700;
    font-weight:700;
    cursor: pointer;
    letter-spacing: 0.02px;
    transition:
    cubic-bezier(0.40, 1, 0.40, 1);

}

.divisao-ou{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.linha-cima{
    background: rgb(55, 70, 79);
    flex-grow: 1;
    height: 10px;
}

.linha-baixo{
    background: rgb(55, 70, 79);
    flex-grow: 1;
    height: 10px;
}

.nome-ou{
    color: rgb(82, 101, 109);
    flex-grow: 0;
    padding: 0 8px;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: .8px;
    text-transform: uppercase;
}



